/* Color scheme light */
@media (prefers-color-scheme: light) {
    body {
        background-color: #7f8fa6;
    }

    p {
        color: #fff;
    }

    .form {
        color: #000;

        p,
        h1,
        h2,
        h3,
        h4,
        a {
            color: #000;
        }
    }

    .pwa-install-prompt__text,
    .pwa-install-prompt__guide {
        color: #000 !important;

        p {
            color: #000 !important;
        }
    }

    footer {
        a {
            color: #fff;

            &:hover,
            &:focus {
                color: #ccc;
            }
        }
    }

    #shortcut,
    #pwainstall {
        .heading {
            color: #fff;
        }

        .subheading {
            color: #c0c5d5;
        }

        .button {
            background: #fff;
            color: #7f8fa6;
        }
    }

    .nav {
        .flex-item {
            color: #000;
        }

        .active {
            color: #007aff !important;

            .icon {
                &:before {
                    color: #007aff !important;
                }
            }
        }
    }

}

/* Make sure mobile functions are not displayed on desktop*/
#torch,
#flipbutton {
    display: none;
}

/* Smartphone */
@media only screen and (max-width:48rem) {

    #torch,
    #flipbutton {
        display: inline-block;
    }

    .logo {
        padding-bottom: 1rem;
        padding-top: 1rem;
    }

    .container {
        padding-top: 4rem;
        width: 100%;
    }

    .Grid {
        width: 70% !important;
    }

    input[type=text] {
        width: 60%;
    }

    input[type=number] {
        padding-top: rem(14px);
        padding-bottom: rem(15px);
    }

    button {
        width: 20%;
        padding-left: 0;
        padding-right: 0;
    }

    .btn_scan {
        width: 10%;
        display: inline-block;
    }

    h1 {
        font-size: 1.8rem;
    }

    #result {
        margin-bottom: 2rem;
        font-size: 1rem !important;
        line-height: 1.5rem;
    }

    .warning {
        font-size: .6rem !important;
        line-height: 1rem !important;
    }

    footer {
        font-size: .7rem;
        margin: 0 auto;
        margin-bottom: 1rem;
        max-width: 90%;
    }

    .labels {
        width: 3rem !important;
    }

    .name {
        display: inline-block;
    }

    .form {
        max-width: 80%;
        padding: 1rem;
        padding-bottom: 2rem;
    }

    #close {
        width: 101%;
    }

    .modal_view {
        .form-check-input {
            transform: scale(2);
        }
    }

    #option_gh {
        margin-bottom: rem(160px);
    }
}

/* Older, smaller phones */
@media only screen and (max-width:21.5rem) {
    .Grid {
        width: 80% !important;
    }

    .labels {
        padding: .5rem !important;
        width: 2.5rem !important;
    }

    .btn-dark {
        width: 6.5rem;
        font-size: .9rem;
    }

    footer {
        font-size: .6rem;
        margin-bottom: 1rem;
    }

    .name {
        display: inline-block;
    }

    .modal_view {
        .form-check-input {
            transform: scale(1.2);
        }
    }

    #pwainstall {
        height: 3.5rem;

        .flex-container {
            padding-left: .5rem;
            padding-right: .5rem;
        }

        .heading {
            font-size: .65rem;
        }

        .subheading {
            font-size: .55rem;
        }

        .button {
            font-size: .5rem
        }

        img {
            width: 2.8rem;
        }
    }
}

/* Smaller screens & tablets */
@media only screen and (max-width:69.5rem) {
    button {
        width: 15%;
        padding-left: 0;
        padding-right: 0;
    }

    .nav {
        bottom: 0%;
        top: initial;
        border-top: var(--nav-border);
        border-bottom: none;
        height: 4.8rem;
    }

    .modal_view {
        .form-check-input {
            transform: scale(1.5);
        }
    }

    .top {
        padding-top: .5rem;
        /* padding-bottom: 6rem;*/
    }

}

/* Desktop rules */
@media (min-width: 69.6rem) {
    .modal_view {
        height: auto;
        max-width: 40%;
        max-height: 50%;
        left: 30%;
        top: 10%;
        border-radius: .5rem;
        box-shadow: none;

        .donate {
            position: initial;
        }

        .modal_close {
            .btn-dark {
                right: 31%;
            }
        }

        #option_kofi {
            margin-bottom: 1rem;
        }
    }
}

/* Prevent landscape orientation -- Do NOT use!*/
/*
@media screen and (min-width: 20rem) and (max-width: 56rem) and (orientation: landscape) {
    .rotate {
        display: block;
    }
}
*/