RewriteBase /
<ifModule mod_headers.c>
    Header set Access-Control-Allow-Origin: https://analytics.vegancheck.me
</ifModule>

# Dateiendungen ausblenden
RewriteEngine on

# Redirect all to index
FallbackResource /index.php

# Redirect "datenschutz" to "privacy-policy"
RewriteRule datenschutz privacy-policy [L,R=301]

# UTF-8 Endcoding
AddDefaultCharset UTF-8

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

ErrorDocument 404 /404.html