/* Selection color */
::-moz-selection {
    background-color: #353b48;
    color: #fff;
}

::selection {
    background-color: #353b48;
    color: #fff;
}

/* Define main body */
body {
    font-family: var(--body-font);
    font-weight: var(--body-fontweight);
    background-color: var(--bg-color);
    color: var(--fg-color);
    font-size: var(--body-fontsize);
    text-align: center;
    word-wrap: break-word;
}

/* Headings */
h1 {
    color: var(--fg-color);
}

/* Link styles */
a {
    text-decoration: underline;
    color: var(--link-color);
    outline: 0;
    transition: .8s;
}

a:hover,
a:focus {
    color: var(--link-transition-color);
}

/* Inputs */
fieldset {
    display: flex;
    outline: none;
    border: none;
}

legend {
    display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
    width: 45%;
    padding: 1rem;
    outline: none;
    text-align: center;
    color: #000;
    font-weight: var(--body-fontweight);
    flex: 1;
    border-top: .01rem solid #ccc;
    border-bottom: .01rem solid #ccc;
    border-left: none;
    border-right: none;
    border-radius: 0;
}

/* Container */
.container {
    padding-top: 9.375rem;
    padding-bottom: 3.125rem;
    width: 50%;
    margin: 0 auto;
}

.container img {
    width: 3rem;
    height: 3rem;
}

.logo {
    padding-bottom: 2rem;
}

/* Longpage for Privacy/Imprint */
.longpage {
    padding-top: 3.125rem !important;
}

/* Paragraphs */
p.unknown,
p.missing {
    margin: 0 !important;
}

p {
    line-height: 1.5rem;
}

/* Footer */
footer {
    font-size: .85rem;

    a:hover,
    a:focus {
        color: #7f8fa6;
    }
}

/* Modals */
sup {
    font-weight: var(--body-fontweight);
    cursor: pointer;
    text-decoration: underline;
}

.modal_view {
    background: #FFF;
    color: var(--bg-color);
    border-radius: 0.5rem;
    padding: 2rem;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 30%;
    transform: translate(-50%, -50%);
    -webkit-box-shadow: 0 1.5625rem 3.125rem -0.75rem rgba(0, 0, 0, 0.25);
    box-shadow: 0 1.5625rem 3.125rem -0.75rem rgba(0, 0, 0, 0.25);
    z-index: 999999;

    h2 {
        margin-top: -2rem;
    }

    .modal_close {
        text-align: left;

        .btn-dark {
            min-width: 0;
            max-width: 1rem;
        }
    }
}

/* Main container with border */
.form {
    word-wrap: break-word;
    background-clip: border-box;
    background: #fff;
    border: 0.125rem solid #f5f5f5;
    border-radius: 0.625rem;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 4rem;
    padding: 4rem;
    line-height: 1.875rem;
    -webkit-box-shadow: 0 1.5625rem 3.125rem -0.75rem rgba(0, 0, 0, 0.25);
    box-shadow: 0 1.5625rem 3.125rem -0.75rem rgba(0, 0, 0, 0.25);

    .Grid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 60%;
        margin: 0 auto;
    }

    .Grid-cell {
        flex: 1;
        flex-direction: column;
        flex-basis: 100%;
        flex: 1;
    }

    .icons {
        width: 20% !important;
        flex: none !important;
        font-weight: var(--semibold-fontweight);
    }

    .description {
        width: 80% !important;
        flex: none !important;
        text-align: left;
    }
}

.labels {
    padding: .5rem !important;
    width: 4rem !important;
}

/* Main colors for results */
.non-vegan,
.icon-cancle {
    color: var(--non-vegan);
}

.vegan,
.icon-ok {
    color: var(--vegan);
}

.unknown {
    color: var(--unknown);
}

.icon-cancle,
.icon-ok {
    display: inline-block;
}

.nutri_a {
    color: #00BF00;
}

.nutri_b {
    color: #73FF00;
}

.nutri_c {
    color: #FC0;
}

.nutri_d {
    color: #F60;
}

.nutri_e {
    color: #FF1900;
}

.non-vegan,
.nutri_a,
.nutri_b,
.nutri_c,
.nutri_d,
.nutri_e,
.unknown,
.vegan,
.warning {
    display: block !important;
}

/* Data Source label */
.source {
    font-weight: 400;
    font-size: .8rem;
    padding-top: 1rem;
    line-height: 1.4rem;
    display: block;

    a {
        font-weight: 400;
        color: #ccc;
        text-decoration: underline;

        &:hover,
        &:focus {
            color: #000;
        }
    }
}

/* Buttons */
.btn_scan {
    width: 5%;
    background: transparent;
    cursor: pointer;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 1rem;
    padding-top: 1.2rem;
    outline: none;
    border: none;
    text-align: center;
    color: #000;
    font-weight: var(--body-fontweight);
    transition: .5s;
    border: .01rem solid #ccc;
}

.btn_scan:hover,
.btn_scan:focus {
    background: #f0f0f0;
}

button {
    width: 10%;
    background: transparent;
    cursor: pointer;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 1rem;
    outline: none;
    border: none;
    text-align: center;
    color: #000;
    font-weight: var(--body-fontweight);
    transition: .5s;
    border: .01rem solid #ccc;
}

button:hover,
button:focus {
    background: #f0f0f0;
}

.btn-dark {
    margin-top: .8rem !important;
    display: inline-block;
    min-width: auto;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    border: .063rem solid #424242;
    cursor: pointer;
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    border-radius: 0.2rem;
    color: #fff;
    background-color: #212529;
    transition: .5s;

    &:hover,
    &:focus {
        color: #fff;
        border: .063rem solid #6b6b6b;
    }

    &:active {
        color: #000;
        background-color: #fff;
    }
}

#tweet {
    margin-right: .2rem;
}

/* Scanner */
.eanscanner {
    z-index: 999999 !important;
}

/* Scanner close */
#close {
    cursor: pointer;
    color: #0abde3;
    font-weight: bold;
    position: absolute;
    z-index: 99999999999;
    top: 0%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background: #121212;
    width: 100%;
    border-bottom: solid grey .01rem;
    padding-bottom: 1rem;
    text-align: left;

    .btn-dark {
        margin-left: 1rem;
        font-size: 1rem;
    }
}

/* Scanner Overlay */
#barcodeicon {
    font-weight: bold;
    position: absolute;
    z-index: 99999999999;
    top: 30%;
    left: 50%;
    opacity: .4;
    font-size: 8rem;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

/* Scanner Underlay */
#background {
    -webkit-backdrop-filter: blur(3rem);
    backdrop-filter: blur(3rem);
    z-index: 999;
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.name {
    display: block;
}

/* Rotate device screen */
.rotate {
    z-index: 99999999999999999999;
    background: #121212;
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;

    img {
        padding-top: 5rem;
        height: 8rem;
    }
}

/* Noscript screen */
.noscript {
    z-index: 999999999999999999999;
    background: #000;
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    h3 {
        padding-top: 5rem;
    }
}