// Selection color
::-moz-selection {
    background-color: #10ac84;
    color: #fff
}

::selection {
    background-color: #10ac84;
    color: #fff
}

// Define main body
body {
    font-family: var(--body-font);
    font-weight: var(--body-fontweight);
    background-color: var(--bg-color);
    color: var(--fg-color);
    font-size: var(--body-fontsize);
    text-align: center;
    word-wrap: break-word;
}

.non-vegan {
    color: var(--non-vegan);
}

.vegan {
    color: var(--vegan);
}

.unknown {
    color: var(--unknown);
}

a {
    text-decoration: none;
    font-weight: var(--semibold-fontweight);
    color: var(--link-color);
    outline: 0;
    transition: .8s;
}

a:hover {
    color: var(--link-transition-color);
}

fieldset {
    display: flex;
    outline: none;
    border: none;
}

input[type=text] {
    width: 45%;
    background: #576574;
    margin-bottom: 1rem;
    padding: 1rem;
    outline: none;
    border: none;
    text-align: center;
    color: #fff;
    font-weight: var(--body-fontweight);
    flex: 1;
}

.btn_scan {
    width: 5%;
    background: #c8d6e5;
    cursor: pointer;
    margin-bottom: 1rem;
    border-radius: .5rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 1rem;
    padding-top: 1.2rem;
    outline: none;
    border: none;
    text-align: center;
    color: #000;
    font-weight: var(--body-fontweight);
    transition: .8s;
    z-index: 9999;
}

.btn_scan:hover {
    background: var(--link-color);
    color: #FFF;
}

button {
    width: 10%;
    background: var(--link-transition-color);
    cursor: pointer;
    margin-bottom: 1rem;
    border-radius: .5rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 1rem;
    outline: none;
    border: none;
    text-align: center;
    color: #fff;
    font-weight: var(--body-fontweight);
    transition: .8s;
}

button:hover {
    background: var(--link-color);
}

.btn-dark {
    display: block;
    width: 6rem;
    margin: 0 auto;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    border: 1px solid #424242;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    cursor: pointer;
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    border-radius: 0.2rem;
    color: #fff;
    background-color: #212529;
}

.btn-dark:hover {
    color: #fff;
    background-color: #222f3e;
}

.btn-dark:active {
    color: #000;
    background-color: #fff;
}