/* Smartphone */
@media only screen and (max-width:48rem) {
    .container {
        padding-top: 100px;
        width: 90%;
    }

    input[type=text] {
        width: 60%;
    }

    button {
        width: 20%;
        padding-left: 0;
        padding-right: 0;
    }

    .btn_scan {
        width: 10%;
        display: inline-block;
    }

    h1 {
        font-size: 1.8rem;
    }

    #result {
        margin-bottom: 2rem;
        font-size: 1rem !important;
    }

    footer {
        font-size: .7rem;
    }

    .labels {
        width: 3rem !important;
    }

    .name {
        display: inline-block;
    }

    .non-vegan,
    .unknown,
    .vegan,
    .nutri_a,
    .nutri_b,
    .nutri_c,
    .nutri_d,
    .nutri_e {
        display: block !important;
    }

    #result{
        line-height: 1.5rem;
    }
}

/* Older, smaller phones */
@media only screen and (max-width:21.5rem) {
    .labels {
        padding: .5rem !important;
        width: 2.5rem !important;
    }

    .btn-dark {
        width: 6.5rem;
        font-size: .9rem;
    }

    footer {
        font-size: .6rem;
    }

    .name {
        display: inline-block;
    }

    .non-vegan,
    .unknown,
    .vegan,
    .nutri_a,
    .nutri_b,
    .nutri_c,
    .nutri_d,
    .nutri_e {
        display: block !important;
    }
}

/* Smaller screens & tablets */
@media only screen and (max-width:60rem) {
    button {
        width: 15%;
        padding-left: 0;
        padding-right: 0;
    }
}

/* Prevent landscape orientation */
@media screen and (min-width: 20rem) and (max-width: 56rem) and (orientation: landscape) {
    .rotate {
        display: block;
    }
}