/* Document variables */
:root {
    font-size: 16px;
    
    --bg-color: #121212;
    --fg-color: #fff;
    --body-font: 'Montserrat', Fallback, sans-serif;
    --body-fontweight: 400;
    --bold-fontweight: 700;
    --semibold-fontweight: 600;
    --body-fontsize: 1.0833rem;
    --body-h1-fontsize: 2.0833rem;
    --body-h2-fontsize: 1.5rem;
    --non-vegan: #ee5253;
    --vegan: #10ac84;
    --unknown: #576574;
    --link-color: #10ac84;
    --link-transition-color: #0abde3;
}