#result {
    height: auto;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
    font-size: var(--body-h2-fontsize);
    line-height: 2rem;
    padding-bottom: 1rem;

    .resultborder {
        border: .01rem solid #ccc;
        padding: 2rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

.spinner {
    animation: pulse .5s infinite ease-out;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.4);
    }

    100% {
        transform: scale(1);
    }
}

.timeout, .timeout-final {
    font-weight: 600;
    padding-bottom: 1rem;
    color: var(--unknown);
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.timeout span {
    animation-name: blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

.timeout span:nth-child(2) {

    animation-delay: .2s;
}

.timeout span:nth-child(3) {
    animation-delay: .4s;
}