h1 {
    background: rgb(46, 134, 222);
    background: linear-gradient(266deg, rgba(46, 134, 222, 1) 0%, rgba(0, 255, 184, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    outline: 0;
}

.container {
    padding-top: 150px;
    padding-bottom: 50px;
    width: 50%;
    margin: 0 auto;
}

.container img {
    width: 3rem;
    height: 3rem;
}

.longpage {
    padding-top: 50px !important;
}

#result {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    height: auto;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
    font-size: var(--body-h2-fontsize);
    font-weight: var(--semibold-fontweight);
    line-height: 2rem;

    .resultborder {
        border: 0.063rem solid #424242;
        border-radius: 0.5rem;
        padding: 2rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

.spinner {
    animation: pulse .5s infinite ease-out;
}



@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.4);
    }

    100% {
        transform: scale(1);
    }
}

.timeout, .timeout-final {
    font-weight: 600;
    padding-bottom: 1rem;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.timeout span {
    animation-name: blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

.timeout span:nth-child(2) {

    animation-delay: .2s;
}

.timeout span:nth-child(3) {
    animation-delay: .4s;
}

p.unknown,
p.missing {
    margin: 0 !important;
}

p {
    line-height: 1.5rem;
}

footer {
    font-size: .8rem;
}

.labels {
    padding: .5rem !important;
    width: 4rem !important;
}