/* Data Source label */
.source {
  font-weight: 400;
  font-size: rem(12.8px);
  padding-top: rem(16px);
  line-height: rem(22.4px);
  display: block;

  a {
    font-weight: 400;
    color: #ccc;
    text-decoration: underline;

    &:hover,
    &:focus {
      color: #000;
    }
  }
}
